.card-input__input{
    border:1px solid input_default !important;
}
.card-input__input:hover{
    border:1px solid input_hover !important;
}
.card-input__input:focus{
    border: 1px solid input_active !important;
}
.card-form__button{
    background:button_default !important;
}
.card-form__button:hover{
    background:button_hover !important;
}
.card-form__button:focus{
    background:button_active !important;
}
.el-menu-demo{
    background:nav_background_color !important;
}
.el-menu-item{
    color:nav_text_color !important;
}
.el-menu-item:focus{
    color:nav_text_active_color !important;
}

#app{
    background-image: url('http://localhost:3000/imgName') !important;
}